.main-header {
  display: flex;
  align-items: center;
  width: 280px;
  height: 66px;
  padding: 0;
  margin: 0 auto;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
}

.main-header__logo {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  min-width: 190px;
  align-items: center;
  margin-right: 65px;
}

.main-header__logo:hover,
.main-header__toggle:hover {
  opacity: 80%;
}

.main-header__logo:active,
.main-header__toggle:active {
  opacity: 60%;
}

.main-header__toggle {
  border: none;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__toggle--closed {
  background-image: url("../img/logos/menu-open.svg");
}

.main-header__toggle--opened {
  background-image: url("../img/logos/menu-closed.svg");
}


@media (min-width: $tablet-width) {
  .main-header {
    width: 708px;
    height: 50px;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__logo {
    min-width: 174px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo-image {
    width: 70px;
    height: 59px;
    margin-right: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1220px;
    height: 60px;
    padding-top: 56px;
  }

  .main-header__logo {
    min-width: 202px;
  }

  .main-header__toggle {
    display: none;
  }
}
